<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美容室answer</title>
</head>
<body>
  <div>
    <h4 id="welcome"></h4>
    <p id="message"></p>
  </div>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      const liffId = '1656653769-Ojal0y9l';
      const API_URL = "https://0d46nffa3e.execute-api.ap-northeast-1.amazonaws.com/invited";
      if (liff.isInClient()) {
        liff.init({ liffId })
          .then(() => {
            document.getElementById("welcome").innerHTML = "お友だち登録ありがとうございます！";
            const idToken = liff.getIDToken();
            const param = location.search;
            const lineId = param.slice(1);
            const postData = {
              invitedBy: lineId,
              idToken,
            };
            axios.post(API_URL, postData)
            .then((response) => {
              document.getElementById("message").innerHTML = response.data;
              liff.closeWindow();
            })
            .catch((error) => {
              alert(error.message);
              liff.closeWindow();
            });
          })
      }
    }
  </script>
</body>
</html>