@charset "UTF-8";

#datescroller ul     {
	list-style:none;
	padding:0;
}
#datescroller ul li  {
	font-size:40px;
	width:100px;
	text-align:center;
	line-height:56px;/*80px;*/
	padding:0 10px 0 10px;
	height:80px;
	text-shadow: 0 1px 0 #fff;
}
.dp_clear { clear: both; visibility: hidden; height: 0;}

#datepicker {
	width:376px;
	margin:0 auto 0 auto;
}

#datescroller {
	cursor:pointer;
	position:relative;
	margin-top:2px;
	background:#ffffff;
}

.dp_scroller  {
	position:relative;
	width:120px;
	height:240px;
	over-flow:hedden;
	float:left;
	z-index:2;
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
/* 	background:gradient(linear, left top, left bottom, from(#000000), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#000000)); */
/* 	background:-moz-linear-gradient(top, #000000, #ffffff 45%, #ffffff 55%, #000000); */
/* 	background:-webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#000000)); */
	background:gradient(linear, left top, left bottom, from(#555555), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#555555));
	background:-moz-linear-gradient(top, #555555, #ffffff 45%, #ffffff 55%, #555555);
	background:-webkit-gradient(linear, left top, left bottom, from(#555555), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#555555));
}

.dp_year   { width:120px; float:left; }
.dp_month  { width:120px; margin-left:8px; margin-right:8px; float:left; }
.dp_day    { width:120px; float:left; }

.dp_roll   { width:120px; height:240px; over-flow:hedden; }
/*#dp_day li { text-align:right; }*/

.dp_shadow   {
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}

.dp_button {
	cursor:pointer;
	width:90px;
	height:50px;
	margin:0px;
	padding:0;
	font-size:16px;
	border:1px solid #666666;
	background:#eee;
	color:#000000;
	text-shadow:0 1px 1px #bbb;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	background:gradient(linear, left top, left bottom, from(#bbb), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#bbb));
	background:-moz-linear-gradient(top, #bbb, #ffffff 45%, #ffffff 55%, #bbb);
	background:-webkit-gradient(linear, left top, left bottom, from(#bbb), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#bbb));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#fffdfdfd', EndColorStr='#ffeeeeee')";
}

.dp_button:active {
	background:#B9B9B9;
	color:#000000;

	background:gradient(linear, left top, left bottom, from(#ededed), color-stop(0.45, #B9B9B9), color-stop(0.55, #B9B9B9), to(#ededed));
	background:-moz-linear-gradient(top, #ededed, #B9B9B9 45%, #B9B9B9 55%, #ededed);
	background:-webkit-gradient(linear, left top, left bottom, from(#ededed), color-stop(0.45, #B9B9B9), color-stop(0.55, #B9B9B9), to(#ededed));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffededed', EndColorStr='#ffB9B9B9')";

/*
	background-image:-moz-linear-gradient(top, #ededed, #B9B9B9);
	background-image:-webkit-gradient(linear,left top,left bottom, color-stop(0, #ededed), color-stop(1, #B9B9B9));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffededed', EndColorStr='#ffB9B9B9')";
*/
}

.dp_smoke {
	pointer-events:none;
	position:absolute;
	top:0;
	left:0;
	width:120px;
	height:80px;
	background-color:#BDB76B;
	filter:alpha(opacity=30);
	-moz-opacity:0.30;
	opacity:0.30;
	z-index:1;
}

.dp_smoke.dp_top {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff000000', EndColorStr='#00000000')";
}
.dp_smoke.dp_bottom {
	top:160px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000', EndColorStr='#ff000000')";
}

.dp_footer {
	position:relative;
	margin-top:5px;
	width:376px;
	line-height:60px;
	padding:0;
	background:#333;
	text-align:center;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
.dp_header {
	font-size:14px;
	line-height:1.4em;
	height:1.4em;
	width:376px;
	margin:0;
	padding:0;
	background:#333;
	color:#eee;
	text-align:center;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
}

.dp_view {
	pointer-events: none;
	position:absolute;
	top: 80px;
	left:-10px;
	width:396px;
	height:80px;
	z-index:3;
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}

.dp_now { color:#B22222; }

.dp_pillar {
	background:gradient(linear, left top, left bottom, from(#000000), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#000000));
	background:-moz-linear-gradient(top, #000000, #ffffff 45%, #ffffff 55%, #000000);
	background:-webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#000000));
}

.dp_smallPillar {
	background:gradient(linear, left top, left bottom, from(#000000), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#000000));
	background:-moz-linear-gradient(top, #000000, #ffffff 45%, #ffffff 55%, #000000);
	background:-webkit-gradient(linear, left top, left bottom, from(#bbb), color-stop(0.45, #ffffff), color-stop(0.55, #ffffff), to(#bbb));
}

#dp_reset {
	cursor:pointer;
	position:absolute;
	font-size:12px;
	width:4em;
	line-height:1.5em;
	height:1.5em;
	border:solid 1px #BDB76B;
	color:#BDB76B;
	vertical-align:middle;
	background-color:transparent;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	float:right;
	bottom:5px;
	right:5px;
}
.dp_week {
	font-size:16px;
	font-family:monospace;
}